<h1>Lista de Anúncios</h1>

<div class="=container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Ano</th>
        <th scope="col">Veículo</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>     
      <tr *ngFor="let item of anuncio">
        <th scope="row">{{item.id}}</th>
        <td>{{item.marca}}</td>
        <td>{{item.ano}}</td>
        <td>{{item.modelo}}</td>
        <td><button type="button" class="btn btn-primary" (click)="editar(item.id)">Editar           
             </button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="excluir(item.id)">
            Excluir
          </button>
        </td>
      </tr>
      </tbody>
    </table>
</div>
